<!DOCTYPE html>
<html>

<head>
  <title>Your Tamagotchi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset='utf-8'>
</head>
<body>
  @using Tamagotchis.Models


  @if (Model.Count == 0)
  {
    <p>There are no pets to display. Please create a pet!</p>
  }
  else
  {
    @foreach (Pet pet in Model)
    {
      <h1>Name: @pet.Name</h1>
      <ul>
        <li>Fullness: @pet.Fullness</li>
        <li>Energy: @pet.Energy</li>
        <li>Attention: @pet.Attention</li>
        <a href="pets/@pet.Id">View Pet Details</a>
        <form action="/pets/action" method="post">
          <input type="hidden" name="petId" value="@pet.Id" />
          <input type="hidden" name="action" value="delete" />
          <button type="submit">Abandon Pet</button>
        </form>
      </ul>
    }
    <a href="/">Make a new pet!</a>
    <br>

  }

  <script>
    setTimeout(function () {
      window.location.reload();
    }, 10000);
  </script>
</body>

</html>