<!DOCTYPE html>
<html>

<head>
  <title>View your pet</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="~/css/petsShow.css" />
</head>

<body>

  @model Tamagotchis.Models.Pet
  <div class="pet">

    @{
      string eat;
      string sleep;
      string play;

      if(Model.Type == "Cat")
      {
        eat = "/img/kitten-food.png";
        sleep = "/img/kitten-sleeping.png";
        play = "/img/kitten-playing.png";
      }
      else
      {
        eat = "/img/food.png";
        sleep = "/img/sleep.png";
        play="/img/playing.png";
      }

    }
    
    <h1>@Model.Name</h1>
    @if (Model.Alive == true)
    {
      @if (Model.IsSleeping == true)
      {
        <img src="@sleep" />
        <b><p>@Model.Name is sleeping... zZz</p></b>
      }
      else if (Model.IsPlaying == true)
      {
        <img src="@play" />
        <b><p>@Model.Name is playing!</p></b>
      }
      else if (Model.IsFeeding == true)
      {
        <img src="@eat" />
        <b><p>@Model.Name is eating...</p></b>
      }
      else
      {
        <img src="~/img/dog.png" />
      }
      @* HEALTH OR FOOD LEVEL *@

      @if (Model.Fullness > 80)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
        </div>
      }
      else if (Model.Fullness > 60)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/heart.png" />
        </div>
      }
      else if (Model.Fullness > 40)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
        </div>
      }
      else if (Model.Fullness > 20)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
        </div>
      }
      else if (Model.Fullness > 1)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/hearts.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
        </div>
      }
      else
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
          <img id="heart" src="~/img/heart.png" />
        </div>
      }

      @* ENERGY LEVEL *@

      @if (Model.Energy > 80)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
        </div>
      }
      else if (Model.Energy > 60)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
        </div>
      }
      else if (Model.Energy > 40)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
        </div>
      }
      else if (Model.Energy > 20)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
        </div>
      }
      else if (Model.Energy > 1)
      {
        <div class="health-hearts">
          <img id="heart" src="~/img/lightning-bolt.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
        </div>
      }
      else
      {
        <div class="health-hearts" id="drained-energy">
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
          <img id="heart" src="~/img/lightning-bolt-black.png" />
        </div>
      }

      @* HAPPINESS OR ATTENTION *@
      @if (Model.Attention > 70)
      {
        <div class="health-hearts">
          <img id="happiness" src="~/img/happy-face.png" />
        </div>
      }
      else if (Model.Attention > 40)
      {
        <div class="health-hearts">
          <img id="happiness" src="~/img/neutral-face.png" />
        </div>
      }
      else
      {
        <div class="health-hearts">
          <img id="happiness" src="~/img/sad-face.png" />
        </div>
      }
      <b><p>Age: @Model.Age yrs</p>
      <p>Weight: @Model.Weight lbs</p></b>
      @if (Model.IsSleeping == false && Model.IsPlaying == false && Model.IsFeeding == false)
      {
        <div class="action-buttons">
          <form action="/pets/action" method="post">
            <input type="hidden" name="petId" value="@Model.Id" />
            <input type="hidden" name="action" value="feed" />
            <button type="submit">Feed</button>
          </form>

          <form action="/pets/action" method="post">
            <input type="hidden" name="petId" value="@Model.Id" />
            <input type="hidden" name="action" value="sleep" />
            <button type="submit">Sleep</button>
          </form>

          <form action="/pets/action" method="post">
            <input type="hidden" name="petId" value="@Model.Id" />
            <input type="hidden" name="action" value="play" />
            <button type="submit">Play</button>
          </form>
        </div>
      }//turn these to buttons or attach some kind of onclick handler. These need to do several things: connect to the methods in toy and food to use item, connect to methods to feed and play in pet, and the buttons/whatevers need to be deleted using the delete methods in toy and food. also, the visual representation of the item on the page needs to disappear. To re-render the page, reroute to this same page with specific id

      @if (TempData["LowEnergyAlert"] != null)
      {
        <script type="text/javascript">
          alert('@TempData["LowEnergyAlert"]');
        </script>
      }
    }
    else
    {
      <img src="~/img/deadDog.png" />
      <b><p>Lived to be: @Model.Age yrs old</p></b>
    }
  </div>
  <form class="playground-form" action="/pets" method="get">
    <button type="submit">Return to pet playground</button>
  </form>
  <div class="inventory-style">
    <h1 class="inventory-title">Inventory</h1>
    <div class="inventory">
      @foreach (var food in Tamagotchis.Models.Pet._inventory)
      {
        <div class="inventory-item">
          <p>@food.Name</p>
          <p class="hp">@food.Fullness hp</p>
          <img class="fullness" src="~/img/hearts.png" />
        </div>
      }
      @foreach (var toy in Tamagotchis.Models.Pet._inventoryToy)
      {
        <div class="inventory-item">
          <p>@toy.Name</p>
          <p class="excitement">@toy.Excitement</p>
          <img class="fullness" src="~/img/lightning-bolt.png" />
        </div>
      }
    </div>
  </div>
  <script>
    setTimeout(function () {
      window.location.reload();
    }, 10000);
  </script>
</body>

</html>
